# Database Configuration
MSSQL_SA_PASSWORD=YourStrongPassword123!
DB_PORT=1433

# Spring Boot Configuration
SERVER_PORT=8080
JWT_SECRET=YourDefaultFallbackKeyForSafetyOnly
JWT_EXPIRATION=86400000


# Email Configuration (Group XIV)
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USERNAME=admin@uni.edu.vn
SMTP_PASSWORD=app_password_here